<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4>Add Devices</h4>
                    <form [formGroup]="addDevicesForm">
                        <div>
                            <label>Name :</label>
                            <input type="text" class="form-control" formControlName="name" placeholder="Enter Name">
                            <div *ngIf="f.name.touched && f.name.invalid">
                                <div class="text-error" *ngIf="f.name.errors.required">Name is Required</div>
                            </div>
                        </div><br />
                        <div>
                            <label>Assigned To :</label>
                            <ng-select placeholder="Enter Assigned To" [items]="employeeList" bindLabel="name"
                                bindValue="id" formControlName="employee_id">
                            </ng-select>
                            <!-- <input type="text" class="form-control" formControlName="employee"
                                placeholder="Enter Assigned To"> -->
                            <!-- <div *ngIf="f.employee.touched && f.employee.invalid">
                                <div class="text-error" *ngIf="f.employee.errors.required">Assigned To is Required
                                </div>
                            </div> -->
                        </div><br />
                        <div>
                            <label>Device Type :</label>
                            <select class="form-control" formControlName="device_type" placeholer="Select Devices Type">
                                <!-- <option>Select Role</option> -->
                                <option>Laptop</option>
                                <option>Bag</option>
                                <option>Charger</option>
                            </select>
                            <!-- <input type="text" class="form-control" formControlName="device_type"
                                placeholder="Enter Device Type"> -->
                            <div *ngIf="f.device_type.touched && f.device_type.invalid">
                                <div class="text-error" *ngIf="f.device_type.errors.required">Device Type is Required
                                </div>
                            </div>
                        </div><br />

                        <!-- <div>
                            <label>Device Type :</label>


                            <ng-select [multiple]="true" [items]="devicesTypeData" bindLabel="name" bindValue="id"
                                formControlName="deviceType" placeholder="Enter Device Type">
                            </ng-select> -->

                        <!-- 
                            <input type="text" class="form-control" formControlName="deviceType"
                                placeholder="Enter Device Type"> -->
                        <!-- <div *ngIf="f.deviceType.touched && f.deviceType.invalid">
                                <div class="text-error" *ngIf="f.deviceType.errors.required">Device Type is Required
                                </div>
                            </div>
                        </div><br /> -->
                        <div>
                            <label>OS :</label>
                            <input type="text" class="form-control" formControlName="os" placeholder="Enter OS">
                           
                        </div><br />
                        <div>
                            <label>Service Tag :</label>
                            <input type="text" class="form-control" formControlName="service_tag"
                                placeholder="Enter Service Tag">
                            <div *ngIf="f.service_tag.touched && f.service_tag.invalid">
                                <div class="text-error" *ngIf="f.service_tag.errors.required">Service Tag is Required
                                </div>

                            </div>
                        </div><br />
                        <div style="float: right;">
                            <button (click)="submit()" class="btn btn-primary submit">Submit</button>
                            <button (click)="cancel()" class="btn btn-secondary">Cancel</button>
                        </div>

                        <p class="text-error">{{error}}</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-sidenavbar></app-sidenavbar>