<!-- <button>B1</button> -->
<!-- <button class="button1" (click)="fireEvent1()">B1</button> -->
<button class="{{buttonprimary}}" (click)="fireEvent1()">B1</button>
<button class="{{buttonSecondary}}" (click)="fireEvent2()">B2 </button><br/><br/>
<button class="{{primary.color1}}">Button1</button>
<button class="{{primary.color2}}">Button2</button><br/><br/>

<button class="button1" (click)="fireEvent1()">B1</button>
<button class="button2"  (click)="fireEvent2()">B2 </button><br/><br/>

<!-- <button class="{{colors.color1}}">Button</button> -->